@charset "UTF-8";
/* parameters definition */
/*----------------------*/
/*basic style of web    */
/*----------------------*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, article {
  margin: 0;
  padding: 0; }

body {
  background-image: url(/img/backgroud.png);
  background-repeat: repeat-y;
  background-position-x: -80px;
  word-wrap: break-word;
  font: 12px/200% "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  overflow-x: hidden; }

body, .l-content, blockquote {
  background-color: #2d4356; }

body, button, textarea, input, select, .m-hdimg .ttl a, .m-nav a, .l-pager a, .p-content, .l-post .p-desc a {
  color: #CECECE; }

button, textarea, input, select {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  font-size: 12px;
  outline: 0; }

a, button {
  cursor: pointer; }

a {
  outline: 0; }

a, a:hover {
  text-decoration: none; }

a, img, h1, .hdimg img, .l-post .p-desc, .m-nav .dot {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

li {
  list-style: none; }

hr {
  margin: 2em auto;
  border: none; }

hr, h2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

blockquote {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 24px -40px;
  padding: 0.5em 40px 0.5em 32px;
  border-left: 8px solid #7166F7; }
  blockquote ol, blockquote ul {
    padding-bottom: 1em; }

h1 {
  font-size: 25px;
  line-height: 1.2;
  margin: 0 0 1em; }

h2 {
  font-size: 1.5em;
  line-height: 1.6; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.12em; }

.box {
  zoom: 1; }

.box:after {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: '.'; }

#container, #menu {
  transition: all ease-out 0.5s; }

.translate {
  transform: translateX(250px); }

/*----------------------*/
/*mobile head nav style */
/*----------------------*/
.mobile-head {
  display: none;
  position: fixed;
  width: 100%;
  height: 48px;
  background: #2d4356;
  box-shadow: 0 0 10px 1px #152029;
  text-align: center;
  z-index: 999; }
  .mobile-head .navbar-title {
    display: inline-block;
    margin-right: 24px; }
    .mobile-head .navbar-title a {
      font-size: 1.6em;
      letter-spacing: 0.2rem;
      color: #CECECE;
      line-height: 48px; }
  .mobile-head .navbar-icon {
    color: #CECECE;
    height: 48px;
    width: 48px;
    font-size: 24px;
    text-align: center;
    float: left;
    position: relative;
    transition: background 0.5s; }
    .mobile-head .navbar-icon:hover {
      cursor: pointer; }

@keyframes clickfirst {
  0% {
    transform: translateY(6px) rotate(0deg); }
  100% {
    transform: translateY(0) rotate(45deg); } }

@keyframes clickmid {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes clicklast {
  0% {
    transform: translateY(-6px) rotate(0deg); }
  100% {
    transform: translateY(0) rotate(-45deg); } }

@keyframes outfirst {
  0% {
    transform: translateY(0) rotate(-45deg); }
  100% {
    transform: translateY(-6px) rotate(0deg); } }

@keyframes outmid {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes outlast {
  0% {
    transform: translateY(0) rotate(45deg); }
  100% {
    transform: translateY(6px) rotate(0deg); } }
    .mobile-head .navbar-icon span {
      position: absolute;
      /* fallback for browsers which still doesn't support for `calc()` */
      left: 14px;
      top: 24px;
      left: calc((100% - 20px) / 2);
      top: calc((100% - 1px) / 2);
      width: 20px;
      height: 1px;
      background: #CECECE; }
      .mobile-head .navbar-icon span:nth-child(1) {
        transform: translateY(6px) rotate(0deg); }
      .mobile-head .navbar-icon span:nth-child(3) {
        transform: translateY(-6px) rotate(0deg); }
    .mobile-head .navbar-icon.icon-click span:nth-child(1) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: clickfirst; }
    .mobile-head .navbar-icon.icon-click span:nth-child(2) {
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-name: clickmid; }
    .mobile-head .navbar-icon.icon-click span:nth-child(3) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: clicklast; }
    .mobile-head .navbar-icon.icon-out span:nth-child(1) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: outfirst; }
    .mobile-head .navbar-icon.icon-out span:nth-child(2) {
      animation-duration: 0.2s;
      animation-fill-mode: both;
      animation-name: outmid; }
    .mobile-head .navbar-icon.icon-out span:nth-child(3) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: outlast; }

@keyframes showmenu {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes hiddenmenu {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

#menu.mobile-menu {
  animation: 0.5s ease-out showmenu; }

.mobile-menu {
  position: fixed;
  top: 48px;
  background: #2d4356;
  box-shadow: 1px 0px 10px 1px #152029;
  height: 100%;
  width: 250px;
  z-index: 99;
  overflow-y: auto; }

/*----------------------*/
/*head info of home page*/
/*----------------------*/
.h-wrapper {
  position: relative;
  float: left;
  width: 320px; }

.h-head {
  padding: 45px 0; }

.ttl a {
  font-weight: normal; }

a, .m-nav a:hover, .l-post .p-desc a:hover, .ttl a:hover, .m-nav .dot, .l-pager a:hover, .l-pager .current, footer a:hover, .p-info a:hover {
  color: #0F9FB4; }

.m-hdimg img, .m-desc, .l-pager a:hover, .l-pager .current, .l-pager-dtl a, .m-sch .txt {
  border-color: #0F9FB4; }

.m-hdimg .ttl {
  font-size: 16px;
  letter-spacing: 1px; }

.m-hdimg, .m-desc, .m-nav ul {
  padding: 0 65px 0 45px; }

.m-hdimg img {
  border: 2px solid #0F9FB4;
  padding: 5px;
  width: 128px;
  height: 128px;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.m-hdimg img, .m-hdimg .ttl, .m-desc {
  margin-bottom: 20px; }

.m-desc {
  background: #1f3140;
  background: rgba(0, 0, 0, 0.15);
  border-left: 2px solid #0F9FB4;
  padding: 20px 65px 20px 43px; }

.m-nav ul {
  padding-left: 20px; }

.m-nav li {
  margin: 4px 0; }

.m-nav .dot {
  display: inline-block;
  width: 25px;
  opacity: 0;
  visibility: hidden; }

.m-nav .dot-hover {
  opacity: 1;
  visibility: visible; }

/* search edittext */
.m-sch {
  padding: 0 0 0 25px; }

.m-sch .txt {
  width: 140px;
  height: 20px;
  line-height: 20px;
  padding: 0 0 4px;
  border: 1px solid #0F9FB4;
  border-width: 0 0 1px;
  background: 0; }

/*----------------------*/
/*blog list of home page*/
/*----------------------*/
.l-wrapper {
  float: right;
  width: 100%;
  margin-left: -320px; }

.l-content {
  padding-top: 45px;
  padding-left: 320px;
  background-clip: content-box; }

.l-post {
  padding: 0 40px 64px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.l-post-art {
  padding-bottom: 0; }

.l-post .p-desc, article.p-art {
  position: relative;
  top: 0;
  left: -80px;
  width: 100%;
  max-width: 840px;
  text-align: left;
  padding: 40px;
  margin-bottom: 20px;
  background: #152029;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5); }

.l-post .p-desc:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.8); }

.p-content {
  font-size: 15px;
  margin: 1em 0; }

.p-readmore {
  text-align: right; }

/*----------------------*/
/*page list of home page*/
/*----------------------*/
.l-pager-id {
  padding: 20px 40px;
  margin-bottom: 40px;
  background: #0d171f;
  background: rgba(0, 0, 0, 0.5); }
  .l-pager-id a, .l-pager-id span {
    float: left;
    margin-right: 15px;
    padding: 2px;
    border-bottom: 2px solid #0d171f;
    border-color: rgba(0, 0, 0, 0);
    font-size: 14px; }

.l-pager-dtl {
  padding-bottom: 20px; }
  .l-pager-dtl a {
    float: left;
    padding: 2px;
    margin-bottom: 16px;
    border-bottom: 2px solid #0F9FB4;
    font-size: 16px; }
  .l-pager-dtl .next {
    float: right; }

.p-ext {
  padding: 20px 40px;
  max-width: 800px; }

/*----------------------*/
/*style of post content */
/*----------------------*/
.p-content h2, .p-content h3, .p-content h4 {
  margin: 1.6em 0 0.6em; }

.p-content p {
  margin: 1em 0; }

.p-content img {
  max-width: 100%;
  margin: 15px 0;
  vertical-align: middle; }

.p-content code {
  padding: 0 0.4em;
  margin: 0 0.2em;
  border-radius: 0.3em !important; }

.p-content pre {
  margin-top: 18px !important;
  margin-bottom: 18px !important; }
  .p-content pre ol {
    overflow: auto; }
  .p-content pre ol li {
    line-height: 1.5em;
    list-style: none;
    margin-left: 0;
    white-space: pre; }

.p-content pre.prettyprint {
  width: initial;
  max-width: 95%; }

.p-content pre code {
  padding: 0;
  border-radius: 0 !important; }

.p-content table {
  display: inline-block;
  max-width: 100%;
  border: 1px solid #333;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
  overflow-x: auto; }
  .p-content table tr:nth-child(2n) {
    background: #333; }

.p-content th, .p-content td {
  padding: 0.2em 1em;
  text-align: left;
  vertical-align: middle;
  word-break: keep-all; }

.p-content ul > li, .p-content ol > li, .p-archive li {
  list-style: inherit;
  margin-left: 16px; }

.p-content a:hover, .p-archive a:hover {
  opacity: 0.6; }

/*----------------------*/
/*style of ext info     */
/*----------------------*/
footer {
  padding: 20px 40px; }

.p-info span, .p-info a, footer p, footer a {
  color: #999; }

/*----------------------*/
/*style of archive      */
/*----------------------*/
.p-archive {
  font-size: 14px; }

.p-archive, h1.label-title {
  padding: 0 40px; }

.list {
  margin: 1em 0; }

/*----------------------*/
/*Screen adaptation     */
/*----------------------*/
@media print, screen and (max-width: 800px) {
  body {
    background: #2d4356; }
  .mobile-head {
    display: block; }
  .h-wrapper {
    display: none; }
  .l-wrapper {
    margin: 0; }
  .l-content {
    padding: 64px 0 0; }
  .l-post, .p-ext {
    padding-left: 5%;
    padding-right: 5%; }
  .l-post .p-info {
    padding: 0 20px; }
  .l-post .p-desc, article.p-art {
    padding: 2em 20px;
    left: 0;
    width: auto; }
  blockquote {
    margin-left: -20px;
    margin-right: -20px; }
  footer {
    padding: 20px;
    text-align: center; } }

@media print, screen and (max-width: 500px) {
  .l-post {
    padding-left: 0;
    padding-right: 0; }
  .p-content pre.prettyprint {
    max-width: initial;
    margin-left: -20px !important;
    margin-right: -20px !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0; } }
